p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: groove;
  border-spacing: 5px;
  border-color: aqua;
}

h1 {
  background-color: burlywood;
  text-align: center;
}

h2 {
  font-size: 15px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-shrink: inherit;
}

.parrafo_suelto {
  border-style: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}
