p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: groove;
  border-spacing: 5px;
  border-color: aqua;
}

h1 {
  background-color: burlywood;
  text-align: center;
}

h2 {
  font-size: 15px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-shrink: inherit;
}

.parrafo_suelto {
  border-style: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.navItems {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

.item {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.item:hover {
  background-color: #111111;
}
